{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8.9"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator"
  ],
  "sourceMaps": "inline",
  "retainLines": true
}
